body{
margin:0;
font-family:Helvetica;
background:#f4f6f9;
}

table{
width:100%;
border-collapse:collapse;
}

td{
border:1px solid #ddd;
padding:15px;
vertical-align:top;
}

.header{
background:rgb(250, 166, 234);
color:white;
font-size:100px;
text-align:center;
padding:30px;
}

.menu{
background:#ffb6ef;
color:white;
width:150px;
}

.menu a{
display:block;
color:white;
text-decoration:none;
padding:10px;
margin:5px 0;
background:#ff84bf;
border-radius:5px;
}

.menu a:hover{
background:#ff6b92;
}

.banner{
background:#e8eef6;
text-align:center;
}

.galeria img{
width:100%;
border-radius:6px;
}

.contenido{
background:white;
}

.noticias{
background:#ff8dc6;
}

.publicidad{
background:#fff3cd;
text-align:center;
}

.video{
background:#e9f7ef;
text-align:center;
}

.footer{
background:#ff74c8;
color:white;
text-align:center;
font-size:14px;
padding:20px;
}

h2{
margin-top:0;
}